.content{
  display: grid;
  row-gap: 50px;
  column-gap: 16px;
}
@media (max-width:500px) {
  .content{
    grid-template-columns: 1fr;
  }
  
}
@media (min-width:501px) and (max-width:869px) {
  .content{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1150px) {
  .content{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width:870px) and (max-width:1149px) {
  .content{
    grid-template-columns:1fr 1fr 1fr;
  }
}
.each-video{
  width: 100%;
}
.thumbnail{
  position: relative;
  margin-bottom: 8px;
}
.time{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: roboto;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 1.8px;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  bottom: 7px;
  right: 5px;
}
.thumbnail-pic{
  width: 100%;
  border-radius: 1.5px;
}
.des-pic{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
  column-gap: 4px;

}
.profile{
  width: 46px;
  height: 100%;
}
.profile-pic{
  border-radius: 50%;
  width: 40px;
}
.all-info{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}
.other{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
}
.title{
  font-family: Roboto;
  font-size: 15px;
  width: 100%;
  font-weight: 600;
}
.artist{
  font-family: Roboto;
  font-size: 12px;
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.stats{
  font-family: Roboto;
  font-size: 12px;
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;

}
body{
   padding-top: 75px;
   padding-bottom: 3000px;
   padding-left: 125px;
   padding-right: 20px;
   background-color: rgb(239, 239, 239);
}


