.head{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  background-color: white;
  border-bottom-color: rgba(177, 177, 177, 0.83);
  z-index: 1;
}
.lsec{
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.menu{
  width: 26px;
  margin-left: 22px;
  margin-right: 20px;
}
.logo{
  width: 100px;
}
.msec{
  flex: 1;
 margin-left: 10px;
  max-width: 700px;
  display: flex;
  align-items: center;
}
.sbox{
  border-radius: 2px;
  flex: 1;
  height: 37px;
  border-color: gray;
  border-width: 1px;
  box-shadow: inset 2px 2px 2.75px rgba(0, 0, 0, 0.05);
  border-style: solid;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  padding-left: 3px;
  max-width: 520px;
  width: 0;

}
.sbox::placeholder{
  font-family: Roboto;
  font-size: 16px;
  color: grey;
  padding-left: 3px;
  font-weight: 400;
}
.sbut{
  height: 40px;
  width: 62px;
  margin-right: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: inset 2px 2px 2.75px rgba(0, 0, 0, 0.05);
  border-style: solid;
}
.srch{
  width: 25px;
  margin-top: 2px;
  
}
.mbut{
  height: 38px;
  width: 41px;
  border: none;
  border-radius: 50%;
  
}
.mic{
  width: 29px;
  margin-top: 2px;
}
.rsec{
  width: 135px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  margin-left:25px;
}
.cam{
  width: 27px;
}
.noti{
  width: 26px;
}
.bellm{
  position: relative;
}
.bell{
  font-family: Roboto;
  font-size: 10px;
  color:white;
  position: absolute;
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius:50%;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  top: 2px;
  right: -2px;
}

.acco{
  width: 35px;
  border-radius: 50%;
}


